body{
    background-color: aliceblue;
    
}

.containerTop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1520px;
}

.area_direita{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.top_logo{
	display: flex;
	align-items: center;
	margin-top: 3px;
	margin-left: 50px;
}

.top_social_media{
	display: flex;
	justify-content: flex-end;
	padding-right: 5px;
	padding-top: 20px;
}

.top_social_media img{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0;
}


.top_menu {
	padding-top: 5px;
	display: flex;
	align-items: center;
}

nav ul, 
nav li{
	list-style: none;
	margin: 0;
	padding: 0;

}

nav ul{
	display: flex;
}

nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
	font-family: arial;
	font-size: 11px;
}

nav .active a,
nav a:hover {
	background-color: #FFF;
	color: #fe00fe;
}

footer{
text-align: center;    

}

section{
    width: 100%;
    background-color: blueviolet
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1050px;
    width: 1050px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 5px;
    
    background-color: aqua;
}
.cardFotos{
    background-color: blue;
}
.div1, .div2, .div3, .div4, .div5, .div6{
    display: flex;
    align-items: center;
    height: 330px;
    width: 250px;
    margin: 5px;
    
}

footer address{
	text-align: center;
    font-family: sans-serif;
	background-color: #d4c5fe;
	color: #fe00fe;
}